/* @import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i,800,800i,900&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 13px;
    line-height: 23px;
    color: #182c3e;
    letter-spacing: 0.4px;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: .3rem;
}

h2,
h4,
h5 {
    font-family: 'Playfair Display', serif;
    color: #1e3143;
}


/* navbar */

.logo {
    width: 130px;
}


/* 
.navbar-light .navbar-nav .nav-link {
    color: #182c3e;
    font-size: 14px;
    font-weight: 600;
    z-index: 9;
    letter-spacing: 0.5px;
} */

.navbar-light.scrolled {
    background: #fff;
    box-shadow: 0 0 17px #d7d7d799;
}

.myNav {
    z-index: 1000;
}

.navbar-light .navbar-nav .nav-link {
    color: #182c3e;
    font-size: 13px;
    font-weight: 600;
    z-index: 9;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: .5rem;
}

.bg-trans {
    background-color: transparent;
}

.hero {
    /* background: url("../img/banner.png"); */
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
}

.index-banner {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    height: 100vh;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: #1e3143;
    margin-left: 1rem;
}

.hero p {
    /* font-weight: 600; */
    color: #828282;
    margin-left: 1rem;
    font-size: 15px;
}

.slider-overly::before {
    background-color: #1e2127;
    content: "";
    height: 100vh;
    left: 0;
    opacity: 0.51;
    position: absolute;
    width: 100%;
}

.vectorLine {
    z-index: 5;
    background-color: rgb(160, 197, 27);
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    line-height: 14px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 9px;
    white-space: normal;
    min-height: 165px;
    min-width: 4px;
    max-height: 165px;
    max-width: 4px;
    opacity: 1;
    transform-origin: 50% 50% 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    position: absolute;
    top: 46%;
}


/* innovation */

.innovation h1 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    text-align: center;
    padding: 1rem;
}

.innovation .tools-content {
    position: absolute;
    background: #176bb2;
    padding: 2rem;
    left: -50px;
}

.innovation .tools-content h2 {
    /* font-weight: 700; */
    font-size: 21px;
    color: #9cbf1e;
}

.innovation .tools-content p {
    color: #fff;
}

.carouselbtn {
    width: 15px;
}

.carouselbtn-bg {
    background: #b93688;
    width: 55px;
    margin: auto;
    position: relative;
    top: -34px;
    padding: 5px 10px;
}

.flex-center {
    align-items: center;
    display: flex;
}

.white-line {
    z-index: 5;
    background-color: #ffffff;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    line-height: 14px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 9px;
    white-space: normal;
    min-height: 1px;
    min-width: 90px;
    max-height: 1px;
    max-width: 90px;
    opacity: 1;
    transform-origin: 50% 50% 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    margin-bottom: 1rem;
}


/* btn */

.btn-primary {
    color: #fff;
    border: none;
    background-color: #9cbf1e;
    border-color: none;
    background-image: linear-gradient(to bottom, #c33f90, #891a69);
}

.btn-primary:hover {
    color: #fff;
    background-color: #799a00;
    border-color: #799a00;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #799a00;
    border-color: #799a00;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0);
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #9cbf1e;
    border-color: #9cbf1e;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0);
}


/* .btn {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.5px;
} */

.section-title {
    margin-bottom: 60px!important;
    position: relative;
}

.section-title span {
    margin-bottom: -5px;
    color: #ff4800;
    display: block;
    text-transform: uppercase;
}

.section-title h2 {
    font-size: 34px;
    font-weight: 700;
}

.section-title .bar {
    position: relative;
    z-index: 1;
    background: #ff4800;
    width: 55px;
    height: 3px;
    margin-top: 12px;
    -webkit-transition: .5s;
    transition: .5s;
}

.section-title .bar:before {
    right: 20px;
}

.section-title .bar:after,
.section-title .bar:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
    background: #fff;
    -webkit-transition: .5s;
    transition: .5s;
}

.section-title .bar:after {
    right: 10px;
}

.section-title .bar:after,
.section-title .bar:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
    background: #fff;
    -webkit-transition: .5s;
    transition: .5s;
}

.single-feedback i {
    color: #e7e7e7;
    line-height: 45px;
    font-size: 45px;
}

.single-feedback p {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 0;
}

.single-feedback .client {
    margin-top: 20px;
}

.single-feedback .client h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.single-feedback .client span {
    display: block;
    color: #ff4800;
    margin-top: 6px;
    font-size: 14px;
}

.feedback-inner {
    /* margin-top: 75px; */
}

.testimonialImg {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.owl-carousel {
    display: initial !important;
    width: 100%;
    z-index: 1;
}

.feedback-img .video-btn:focus,
.feedback-img .video-btn:hover,
.feedback-img .video-btn i {
    background: #fff;
    color: #ff4800;
}

.feedback-img .video-btn {
    position: absolute;
    right: 15px;
    bottom: 200px;
    background: #ff4800;
    color: #fff;
    padding: 20px 20px 20px 65px;
    border-radius: 45px;
}

.feedback-img .video-btn {
    position: absolute;
    right: 15px;
    bottom: 200px;
    background: #ff4800;
    color: #fff;
    padding: 20px 20px 20px 65px;
    border-radius: 45px;
}

.feedback-img .video-btn:focus,
.feedback-img .video-btn:hover,
.feedback-img .video-btn i {
    background: #fff;
    color: #ff4800;
}

.feedback-img .video-btn i {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    margin-top: -22px;
    -webkit-transition: .5s;
    transition: .5s;
}


/* title */

.title-left-border {
    position: relative;
}

.title-left-border:before {
    content: "";
    width: 3px;
    height: 52px;
    background: #082836;
    position: absolute;
    left: 0;
}

.title-left-border:before {
    content: "";
    width: 3px;
    height: 52px;
    background: #082836;
    position: absolute;
    left: 0;
}

.services-bg-color {
    background-color: rgba(231, 234, 235, 0.2);
}

.appto-slide-block {
    border-radius: 7px;
    box-shadow: 0 0 19px 12px rgba(143, 143, 143, 0.18), inset 0 0 3px 1px rgba(151, 145, 145, 0);
}

.appto-slide-sec {
    margin-bottom: 0px !important;
}

.appto-slide-sec p {
    font-size: 14px;
}

p.appto-count {
    height: initial!important;
    font-size: 40px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04px;
    color: #a0c51b;
}

span.appto-total-count {
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.01px;
    color: #c6c6c6;
}

.text-mgrey {
    color: #6d7278;
}

.innovationynav {
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    position: relative;
    display: initial;
    padding: 10px 20px 10px;
    float: right;
    top: -35px;
    right: -20px;
    background: #fff;
}

.text-mdark {
    color: #082836;
}

.appto-slide-block h4 {
    font-family: 'Playfair Display', serif;
}

.innovation-bannerImg {
    width: 75%;
    margin: auto;
    display: block;
}

.case-box {
    border-radius: 10px;
    box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.15);
    background: #fff;
}

.case-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: auto;
}

.case-content h4 {
    font-family: 'Playfair Display', serif;
    color: #082836;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.case-content p {
    color: #6d7278;
}

.case-content a {
    float: right;
    font-family: 'Playfair Display', serif;
}

.all-a {
    float: right;
    margin: 2rem 0;
    color: #ff4800;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}

.portfolio-box {
    border-radius: 7px;
    box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.15);
    background: #fff;
    padding: 1.5rem;
}

.tech-logo img {
    width: 100px;
    margin-right: 1rem;
}

.innovationynav img {
    width: 25px;
}

footer {
    background: #1e3143;
    padding: 2rem;
}

footer .logo {
    width: 70px;
}

.nav-item .dropdown-menu {
    width: max-content;
    left: -350%;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.02);
    border-radius: .25rem;
    box-shadow: 0 0 12px #cacaca;
}

.nav-item .dropdown-menu ul {
    width: fit-content;
    float: left;
    padding-left: 13px;
    margin-right: 1rem;
    list-style: none;
}

.nav-item .dropdown-menu h4 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.nav-item .dropdown-menu ul li a {
    font-size: 14px;
    color: #6f6f6f;
    margin-bottom: 8px;
    display: block;
}

.nav-item .dropdown-menu ul li img {
    width: 320px;
}

.content-block {
    background: url(../img/logo-bg.jpg) no-repeat;
    background-position: -42px -121px;
    min-height: 60px;
}

.contact-us form {
    background: #fff;
    padding: 2rem;
    margin: 2rem;
    border-radius: 4px;
    box-shadow: 0 0 13px #d6d6d6;
}

.contact-us h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.breadcrumb {
    font-family: 'Playfair Display', serif;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    list-style: none;
    background-color: #589ce000;
    border-radius: .25rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.service .quotes {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    text-align: center;
    /* font-weight: 800; */
    padding: 1rem;
    color: #202c35;
}

.service-list h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.item-center {
    align-items: center;
}

.service-list ul {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;
}

.service-list ul li {
    padding-bottom: 10px;
}

.service-list {
    margin-bottom: 5rem !important;
}